<h1>Deployment Successful!</h1>
<p>
  Hello,
</p>
<p>
  The website for <strong><%= @website_request.business_name %></strong> has been successfully "deployed".
</p>
<p>
  You can find the repository here:
</p>
<p>
  <a href="<%= @repo_url %>"><%= @repo_url %></a>
</p>
<p>
  You can continue to preview your site here: <a href="<%= @preview_url %>">Preview Site</a>.
</p>